.kanban {
    display: grid;
    grid-template-rows: min-content auto;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.kanban .columns {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.kanban .columns > * {
    flex-shrink: 0;
}