.painel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    height: 100%;
    width: 100%;
    gap: 1rem;
    overflow: auto;
}

/* .painel > * {
    width: 100%;
} */