.App_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App_mainLayout {
    display: grid;
    grid-template-columns: 1fr 400px;
    /* Video Area | Recommendations */
    gap: 24px;
    padding: 24px 24px;
    width: calc(100% - 48px);
}

@media (max-width: 1000px) {
    .App_mainLayout {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .App_mainLayout {
        padding: 0;
        gap: 0;
    }
}