.sidebar {
    width: 80px; /* Minimal width for the sidebar */
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center items horizontally */
    height: calc(100vh - 2rem);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    padding: 1rem 0;
}
