.sidebar {
    width: 80px;
    background-color: var(--surface-container-low);
    color: var(--on-surface);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 2rem);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    padding: 1rem 0;
    box-shadow: 20px 0 40px rgba(0, 0, 0, 0.4);
}
