.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.header span {
  font-size: 1.2em;
  font-weight: bold;
}